body{
    background-color: lightskyblue;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-weight: bold;
}

nav{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

div{
    border: solid 5px;
    border-color: green;
    margin: 25px auto;
    width: 50%;
    padding: 35px 35px 35px 35px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
}

p{
    font-size: 25px;
}

a{
    color: green;
    font-weight: bold;
}

img{
    float: right;
    width: 220px;
    height: 350px;
    padding: 0 0 50px 35px;
}

footer{
    font-size: 30px;
    text-align: center;
}

span{
    font-weight: bold;
    color: grey;
}